.required-asterisk{
    color: red;
    font-weight: bold;
    margin-left: 3px;
    font-size: 1.2em;
  }

  .clear-top-space {
    margin-top: 0rem;
  }

  .scroller{
    // background-color: red;
    height: 450px;
    width: auto;
    overflow-y: scroll;
  }

  .scrollit {
    overflow:scroll;
    height:100px;
}
